/* Adaugam variabile globale: */
:root {
  --text-primary: #101d42;
  --text-secondary: #fbb44c;
  --text-success: #2bb686;
  --text-dark: #2b2922;
  --text-light: #eaeaea;

  --bg-primary: #141e4c;
  --bg-secondary: #dfedf5;
  --bg-dark: #101d42;
}

/* Resetam proprietati default: */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

/* Custom bootstrap: */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.text-dark {
  color: #2b2922 !important;
}

.bg-primary {
  background-color: #141e4c !important;
}

.bg-secondary {
  background-color: #dfedf5 !important;
}

.bg-dark {
  background-color: #101d42 !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* Custom scroll-to-top: */
.scrollButton {
  position: relative;
}

.scrollButton-position {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 20;
}

.scrollButton-style {
  background-color: var(--bg-primary);
  border: 2px solid #2bb686;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #2bb686;
  cursor: pointer;
  animation: movebutton 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.material-symbols-outlined {
  font-size: 45px;
}

@keyframes movebutton {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
